table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
td, th{
    border: solid rgb(17, 0, 168) 2px;
    text-align: left;
    padding: 8px;
}
th{
    border: solid rgb(0, 112, 50) 2px;
    color: red;
}
